/* General Styling */
body {
    font-family: "Georgia", serif; /* Use a font similar to Times New Roman */
    line-height: 1.6;
    color: #333;
}

.text-center {
    text-align: center;
}

/* Intro Section */
.intro-title {
    font-size: 4.5rem; /* Keep prominent font size for title */
    font-weight: bold;
    margin-top: 2rem; /* Add spacing above the title */
    margin-bottom: 1rem;
    text-align: center;
    padding: 0 5rem;
}

.intro-subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-top: 1rem; /* Extra spacing above the subtitle */
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Works Page Styling for Navbar Overlap */
.works-page {
    padding-top: 60px; /* Adjust based on navbar height */
}

/* Timeline Section */
.timeline {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.timeline-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem; /* Add spacing above the timeline title */
    margin-bottom: 2rem;
}

.timeline-items {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align timeline items */
}

.timeline-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.timeline-marker {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

/* Project Card Styling */
.project-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    flex-grow: 1;
    margin: 1rem 0;
    max-width: 800px; /* Constrain project card width for consistency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: "Georgia", serif; /* Apply consistent font style */
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.project-tech,
.project-views {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.25rem;
}

.project-link {
    color: #00bfa5;
    font-weight: bold;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}
